[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"
sphinx = "*"
numpydoc = "*"
sphinx-rtd-theme = "*"
karp-backend = {editable = true,path = "."}

[packages]
flask = {version = ">=0.12,<1.0"}
elasticsearch = {version = ">=6.1,<6.2"}
elasticsearch-dsl = {version = ">=6.0,<7.0"}
flask-sqlalchemy = "*"
gevent = "==1.2.2"
six = "*"
markdown = "*"
pymysql = "*"

[requires]
python_version = "2.7"
