-i https://pypi.org/simple
alabaster==0.7.12
atomicwrites==1.2.1
attrs==18.2.0
babel==2.6.0
certifi==2018.11.29
chardet==3.0.4
coverage==4.5.2
docutils==0.14
funcsigs==1.0.2 ; python_version < '3.0'
idna==2.8
imagesize==1.1.0
jinja2==2.10
markupsafe==1.1.0
more-itertools==4.3.0
numpydoc==0.8.0
packaging==18.0
pathlib2==2.3.3 ; python_version < '3.6'
pluggy==0.8.0
py==1.7.0
pygments==2.3.0
pyparsing==2.3.0
pytest==4.0.1
pytz==2018.7
requests==2.21.0
scandir==1.9.0 ; python_version < '3.5'
six==1.12.0
snowballstemmer==1.2.1
sphinx-rtd-theme==0.4.2
sphinx==1.8.2
sphinxcontrib-websupport==1.1.0
typing==3.6.6 ; python_version < '3.5'
urllib3==1.22
