-i https://pypi.org/simple
-e .
click==7.0
elasticsearch-dsl==6.3.1
elasticsearch==6.1.1
flask-sqlalchemy==2.3.2
flask==0.12.4
gevent==1.2.2
greenlet==0.4.15
ipaddress==1.0.22 ; python_version < '3.3'
itsdangerous==1.1.0
jinja2==2.10
markdown==3.0.1
markupsafe==1.1.0
pymysql==0.9.3
python-dateutil==2.7.5
six==1.12.0
sqlalchemy==1.2.15
urllib3==1.22
werkzeug==0.14.1
