{
    "default": {
        "elastic_url": ["http://elasticsearch:9200"],
        "sql": "karp",
        "type": "lexicalentry",
        "secret_fields": ["lastmodifiedBy"],
        "src": "",
        "suggestionalias": "karpsuggestion",
        "sort_by": [],
        "head_sort_field": [],
        "autocomplete_field": [],
        "minientry_fields": [],
        "statistics_buckets": [],
        "boosts": []
    },
    "testindex1": {
        "is_index": true,
        "indexalias": "testmode1"
    },
    "testindex2": {
        "sort_by": ["lexiconOrder", "_score", "baseform.sort", "baseform"],
        "head_sort_field": ["lexiconOrder"],
        "autocomplete_field": ["baseform"],
        "minientry_fields": ["baseform", "definition"],
        "statistics_buckets": ["pos.bucket"],
        "boosts": ["baseform"],
        "is_index": true,
        "indexalias": "testmode2"
    },
    "karp": {
        "sort_by": ["lexiconOrder", "_score", "baseform.sort", "baseform"],
        "head_sort_field": ["lexiconOrder"],
        "autocomplete_field": ["baseform"],
        "minientry_fields": ["lexiconName", "baseform", "definition"],
        "statistics_buckets": ["lexiconName.bucket", "pos.bucket"],
        "boosts": ["baseform"],
        "groups": ["testindex1", "testindex2"],
        "sql": false,
        "is_index": false,
        "indexalias": "karp"
    }
}
